In [3]:
import pandas as pd
import numpy as np

pd.set_option('display.max.columns', 60)

In [4]:
seq2 = ['A','C','C','G','A','C','T','A','G','A','C','A','G','G','T']
seq1 =  ['T','T','A','C','C','G','G','A','C','T','A','G','A','C','C','A','G','C','G','T','A']

In [5]:
indel = ['_']

idt = 1
sub = -1
gap = -2

## programmation dynamique globale:

In [6]:
def alignement_global(seqA,seqB):
    
    mat =  A = np.random.randint(1, size=(len(seqB)+1,len(seqA)+1)) #initialiser une matrice de zeros
    df = pd.DataFrame(data=mat,index=indel+seqB,columns=indel+seqA) #créer un tableau d'affichage
 
    for i in range(1,len(mat)) : 
        mat[i,0] = int(mat[i-1,0] + gap) #initialiser première ligne
    
    for j in range(1,len(mat[0])) :
        mat[0,j] = int(mat[0,j-1] + gap) #initialiser première colonne
    
    for i in range(1,len(mat)) :
        for j in range(1,len(mat[0])) :
        
            if seqB[i-1] == seqA[j-1] :
                #opération correspondante à deux bases identiques 
                mat[i,j] = max(mat[i,j-1] + gap, mat[i-1,j] + gap, mat[i-1,j-1] + idt)
           
            else :
                #opération correspondante à deux bases différentes 
                mat[i,j] = max(mat[i,j-1] + gap, mat[i-1,j] + gap, mat[i-1,j-1] + sub)
                
    score = mat[len(mat)-1,len(mat[0])-1] 
    print('le score =',score) #calaculer et afficher le score 
    
    
    #retour arrière
    x = len(mat)-1
    y = len(mat[0])-1

    horizontale = [seqA[y-1]]
    verticale = [seqB[x-1]]
    
    while(x > 1 and y > 1) :
        m = -999
        #détermination de la valeur maxx entre la case de gauche, dessus et diagonale

        if mat[x-1,y-1] > m : #diagonale
            x_max,y_max = x-1,y-1
            m = mat[x-1,y-1]

        if mat[x-1,y] > m : #gauche
            x_max,y_max = x-1,y
            m = mat[x-1,y]

        if mat[x,y-1] > m : #dessus
            x_max,y_max = x,y-1

        #insertion en tete des listes selon la position de la valeure max 
        if x_max == x : #case de gauche maximale (horizental)
    
            horizontale.insert(0,seqA[y_max-1])
            verticale.insert(0,indel[0]) # '_'

    

        if y_max == y : #case de dessus maximale (vertical)
            horizontale.insert(0,indel[0]) # '_'
            verticale.insert(0,seqB[x_max-1])
        
        if x_max == x-1 and y_max == y-1 : #case de diagonale maximale
        
            horizontale.insert(0,seqA[y_max-1])
            verticale.insert(0,seqB[x_max-1])


        x = x_max 
        y = y_max 

        ali = pd.DataFrame(data=[horizontale,verticale],index=['seq horizontale :', 'seq verticale :'])
    
    print('score daligenemnt = ', x+y)
    
    return df,ali

In [7]:
df,ali = alignement_global(seq1,seq2)

le score = 3
score daligenemnt =  4

In [8]:
df

,_,T,T,A,C,C,G,G,A,C,T,A,G,A,C,C,A,G,C,G,T,A
_,0,-2,-4,-6,-8,-10,-12,-14,-16,-18,-20,-22,-24,-26,-28,-30,-32,-34,-36,-38,-40,-42
A,-2,-1,-3,-3,-5,-7,-9,-11,-13,-15,-17,-19,-21,-23,-25,-27,-29,-31,-33,-35,-37,-39
C,-4,-3,-2,-4,-2,-4,-6,-8,-10,-12,-14,-16,-18,-20,-22,-24,-26,-28,-30,-32,-34,-36
C,-6,-5,-4,-3,-3,-1,-3,-5,-7,-9,-11,-13,-15,-17,-19,-21,-23,-25,-27,-29,-31,-33
G,-8,-7,-6,-5,-4,-3,0,-2,-4,-6,-8,-10,-12,-14,-16,-18,-20,-22,-24,-26,-28,-30
A,-10,-9,-8,-5,-6,-5,-2,-1,-1,-3,-5,-7,-9,-11,-13,-15,-17,-19,-21,-23,-25,-27
C,-12,-11,-10,-7,-4,-5,-4,-3,-2,0,-2,-4,-6,-8,-10,-12,-14,-16,-18,-20,-22,-24
T,-14,-11,-10,-9,-6,-5,-6,-5,-4,-2,1,-1,-3,-5,-7,-9,-11,-13,-15,-17,-19,-21
A,-16,-13,-12,-9,-8,-7,-6,-7,-4,-4,-1,2,0,-2,-4,-6,-8,-10,-12,-14,-16,-18
G,-18,-15,-14,-11,-10,-9,-6,-5,-6,-5,-3,0,3,1,-1,-3,-5,-7,-9,-11,-13,-15
A,-20,-17,-16,-13,-12,-11,-8,-7,-4,-6,-5,-2,1,4,2,0,-2,-4,-6,-8,-10,-12
C,-22,-19,-18,-15,-12,-11,-10,-9,-6,-3,-5,-4,-1,2,5,3,1,-1,-3,-5,-7,-9
A,-24,-21,-20,-17,-14,-13,-12,-11,-8,-5,-4,-4,-3,0,3,4,4,2,0,-2,-4,-6
G,-26,-23,-22,-19,-16,-15,-12,-11,-10,-7,-6,-5,-3,-2,1,2,3,5,3,1,-1,-3
G,-28,-25,-24,-21,-18,-17,-14,-11,-12,-9,-8,-7,-4,-4,-1,0,1,4,4,4,2,0
T,-30,-27,-24,-23,-20,-19,-16,-13,-12,-11,-8,-9,-6,-5,-3,-2,-1,2,3,3,5,3

In [9]:
ali

                  0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16 17 18
seq horizontale :  A  C  C  G  G  A  C  T  A  G  A  C  C  A  G  C  G  T  A
seq verticale :    A  C  C  G  _  A  C  T  A  G  A  C  _  A  G  _  G  _  T

## local alignment

In [16]:
def localalignment(y, x):
    
    mat =  A = np.random.randint(1, size=(len(x)+1,len(y)+1)) #initialiser une matrice de zeros
    df = pd.DataFrame(data=mat,index=indel+x,columns=indel+y) #créer un tableau d'affichage

    
    best = 0
    #optloc = (0,0)
    
    for i in range(1, len(x)+1):
        for j in range(1, len(y)+1):
            
            num = 0
            if x[i-1]==y[j-1]:
                num = A[i-1][j-1] + idt
            else:
                num = A[i-1][j-1] + sub
            
            A[i][j] = max(
               A[i][j-1] + gap, #val hor
               A[i-1][j] + gap, #val ver
               num,             # val diag
               0     #si A[i][j] < 0 auto s'affiche 0
            )
        
            #if A[i][j] >= best:
                #best = A[i][j]
                #optloc = (i,j)   

    
    return df

In [17]:
df= localalignment(seq1, seq2)
df

   _  T  T  A  C  C  G  G  A  C  T  A  G  A  C  C  A  G  C  G  T  A
_  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
A  0  0  0  1  0  0  0  0  1  0  0  1  0  1  0  0  1  0  0  0  0  1
C  0  0  0  0  2  1  0  0  0  2  0  0  0  0  2  1  0  0  1  0  0  0
C  0  0  0  0  1  3  1  0  0  1  1  0  0  0  1  3  1  0  1  0  0  0
G  0  0  0  0  0  1  4  2  0  0  0  0  1  0  0  1  2  2  0  2  0  0
A  0  0  0  1  0  0  2  3  3  1  0  1  0  2  0  0  2  1  1  0  1  1
C  0  0  0  0  2  1  0  1  2  4  2  0  0  0  3  1  0  1  2  0  0  0
T  0  1  1  0  0  1  0  0  0  2  5  3  1  0  1  2  0  0  0  1  1  0
A  0  0  0  2  0  0  0  0  1  0  3  6  4  2  0  0  3  1  0  0  0  2
G  0  0  0  0  1  0  1  1  0  0  1  4  7  5  3  1  1  4  2  1  0  0
A  0  0  0  1  0  0  0  0  2  0  0  2  5  8  6  4  2  2  3  1  0  1
C  0  0  0  0  2  1  0  0  0  3  1  0  3  6  9  7  5  3  3  2  0  0
A  0  0  0  1  0  1  0  0  1  1  2  2  1  4  7  8  8  6  4  2  1  1
G  0  0  0  0  0  0  2  1  0  0  0  1  3  2  5  6  7  9  7  5  3  1
G  0  0  0  0  0  0  1  3  1  0  0  0  2  2  3  4  5  8  8  8  6  4
T  0  1  1  0  0  0  0  1  2  0  1  0  0  1  1  2  3  6  7  7  9  7

In [174]:
def local_align(x, y):
   
    A = []
    for i in range(len(y) + 1):
        A.append([0] * (len(x) +1))
    best = 0
    optloc = (0,0)

    for i in range(1, len(y) + 1):
        for j in range(1, len(x) + 1):
           
            A[i][j] = max(
            A[i][j-1] + gap,
            A[i-1][j] + gap,
            A[i-1][j-1] + idt if y[i-1] == x[j-1] else sub)
            
           
            if A[i][j] >= best:
                best = A[i][j]
                optloc = (i,j)
    
    align_X = " "
    align_Y =  " "
    j, i = optloc
    while (i > 0 or j > 0) and A[j][i] > 0:
         
        current_score = A[j][i]

        if i > 0 and j > 0 and x[i - 1] == y[j - 1]:
            align_X = x[i - 1] + align_X
            align_Y = y[j - 1] + align_Y
            i = i - 1
            j = j - 1
         
        elif i > 0 and (current_score == A[j][i - 1] + sub or current_score == A[j][i - 1] + gap) and A[j][i - 1] > 0:
            align_X = x[i - 1] + align_X
            align_Y = "-" + align_Y
            i = i - 1
             
        else:
            align_X = "_" + align_X
            align_Y = y[j - 1] + align_Y
            j = j - 1
            
        ali = pd.DataFrame(data=[align_X, align_Y],index=['seq horizontale :', 'seq verticale :'])

     
    return ali

In [175]:
ali= local_align(seq1, seq2)
ali

                                     0
seq horizontale :  ACCGGACTAGACCAGCGT
seq verticale :    ACC-GACTAGA-CAG-GT